
<h1> Our Tasks </h1>

<h2> See what you have left to do </h2>

<ul>
<% @tasks.each do |task| %>
  <%= link_to task.name, task_path(task) %>
  Description: <%= task.description %>
  <li><%= link_to "Remove Task", task_path(task), method: :delete %> <%= link_to "New Task", new_task_path %> </li>
</ul>
<% end %>
