
<h1> Our Tasks </h1>

<h2> See what you have left to do </h2>

<ul>
<% @tasks.each do |task| %>
  <li><%= link_to task.name, task_path(task) %></li>
  <li> Description: <%= task.description %> </li>
  <li><%= link_to "Remove Task", task_path(task), method: :delete %> <%= link_to "New Task", new_task_path %> </li>
</ul>
<% end %>
