<h2><%= @task.name %></h2>
<ul>
  <li>Name: <%= @task.name %></li>
  <li>Description: <%= @task.description %></li>
  <li><%= link_to "Edit Task", edit_task_path(@task) %></li>
</ul>

<!--how does Edit Task work? -->

